BOT_TOKEN=
BOT_LINK=https://t.me/KuryndinMoscowZooBot
ADMIN_CHAT_ID=

DB_HOST=192.168.179.129
DB_PORT=5432
DB_NAME=python_zoo
DB_USER=appuser
DB_PASSWORD=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_gmail@gmail.com
SMTP_PASSWORD=your_gmail_app_password
STAFF_EMAIL=staff_email@example.com

REDIS_URL=redis://redis:6379/0

HUGGINGFACE_API_TOKEN=
HF_IMAGE_MODEL=black-forest-labs/FLUX.1-schnell
HF_IMAGE_CACHE_DIR=generated_images
HF_PROVIDER=hf-inference